{% extends "rango/base.html" %}
{% load staticfiles %}
{% block title %}
{{category.name}}
{% endblock title %}
{% block body_block %}
{{category.name}}
{% if category %}
<h1> {{ category.name }}</h1>
{% if pages %}
<ul>
	{% for page in pages %}
	<li><a href="{{ page.url }}">{{ page.title }}</a></li>
	{% endfor %}
</ul>
{% else %}
<strong>No pages currently in category.</strong>
{% endif %}
{% else %}
The specified category {{ category_name }} does not exist!
{% endif %}

{% if user.is_authenticated %}
	<button><a href="/rango/category/{{category.slug}}/add_page"> Add a page</a></button>
{% endif %}


{% endblock body_block %}



