
{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title %}
Rango
{% endblock title %}


{% block body_block %}
{% if user.is_authenticated %}
<h1 class="text-center">Rango says {{ user.username }}!</h1>
{% else %}
<h1 class="text-center">Rango says...hello world!</h1>
{% endif %}

<br>
<div class="row">
    <div class="col-md-offset-2 col-md-4">
        {% if categories %}
        <ul>
            {% for categorys in categories %}
            <li>
                <a href="{% url 'category'  categorys.slug %}">
                    {{categorys.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
        {% if user.is_authenticated %}

        {% endif %}
    </div>
    <div class="col-md-4">
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li>
                <a href="{{ page.url }}">
                    {{page.title}}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
        {% if user.is_authenticated %}



        {% endif %}

    </div>


</div>

{% endblock body_block %}

